/* color ref
 black / white
 red portfolio: #501414 rgba(80,20,20)
 grey portfolio: #BBBBBB rgba(187,187,187)
 red logo: #BE202E rgba(190,32,46)
 yellow logo: #E6DD94 rgba(230,221,148)
 beige logo: #C3996B rgba(195,153,107)
 light brow logo: #4C3224 rgba(76,50,36)
 brown logo: #3C2517 rgba(60,37,23)

 logo: https://raw.githubusercontent.com/NathaTerrien/roll20-wip/master/PFO/img/logo.png
 left border: https://raw.githubusercontent.com/NathaTerrien/roll20-wip/master/PFO/img/brdleft.png
 right border: https://raw.githubusercontent.com/NathaTerrien/roll20-wip/master/PFO/img/brdright.png
*/
div,
button,
textarea,
span,
input,
select,
img,
label{
    box-sizing: border-box;
}
div{
    margin: 0px;
    padding: 0px;
}
img{
    margin: 0px;
    padding: 0px;
}
/* ==== CLASSES ==== */
.sheet-debug{
    border: 1px solid red;
}
.sheet-underlined{
    border-bottom: 1px solid black;
}
.sheet-bordered{
    border: 1px solid black;
    margin-bottom: 4px;
}
.sheet-titled{
    margin-top: -16px;
    padding-top: 20px;
}
.sheet-block{
    display: block;
}
.sheet-inbox{
    padding-left:2px;
    padding-bottom: 2px;
    text-align: left;
}
.sheet-indent{
    text-indent: 10px;
}
.sheet-padindent{
    padding-left: 10px;
}
/* ==== DIVS ==== */
div.sheet-main{
    vertical-align: top;
    text-align: left;
    width: 850px;
    max-width: 850px;
    background-color: white;
    font-family: 'Times New Roman';
}
div.sheet-myrow{
    display: block;
    width: 100%;
    text-align: left;
    margin: 1px 0px 1px 0px;
}
div.sheet-colhalf{
    display: inline-block;
    vertical-align: top;
    width: 415px;
}
div.sheet-col1third{
    display: inline-block;
    vertical-align: top;
    width: 280px;
}
div.sheet-col2third{
    display: inline-block;
    vertical-align: top;
    width: 560px;
}
div.sheet-blacklabel{
    display: inline-block;
    background-color: black;
    color: white;
    text-align: center;
    vertical-align: top;
    height: 30px;
    text-transform: uppercase;
    border: none;
}
div.sheet-blacklabel .sheet-blackbgrd{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 2px 4px 0px 4px;
}
div.sheet-blacklabel .sheet-blackbgrd .sheet-big{
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
}
div.sheet-blacklabel .sheet-blackbgrd .sheet-big.sheet-only{
    padding-top: 3px;
}
div.sheet-blacklabel .sheet-blackbgrd .sheet-sml{
    display: block;
    font-size: 8px;
    line-height: 4px;
    letter-spacing: 1px;
}
img.sheet-brdleft,
img.sheet-brdright {
    display: inline-block;
    height: inherit;
}
div.sheet-identity{
    display: inline-block;
    margin-left: 4px;
}
div.sheet-boxed {
    display: inline-block;
    border: 1px solid black;
    width: 40px;
    height: 24px;
    vertical-align: top;
    text-align: center;
    margin-top: 3px;
}
.sheet-identity span{
    display: block;
    margin-left: 2px;
    text-transform: capitalize;
}
.sheet-abilities div.sheet-blacklabel{
    width: 80px;
}
.sheet-abilities .sheet-lab{
    display: inline-block;
    width: 50px;
    text-align: center;
    vertical-align: bottom;
    font-size: 9px;
    line-height: 9px;
    text-transform: uppercase;
    white-space: pre-line;
}
.sheet-abilities div.sheet-boxed{
    margin-left: 5px;
    margin-right: 5px;
}
.sheet-abilities .sheet-lab:first-child{
    width: 80px;
}
.sheet-skills div.sheet-blacklabel .sheet-blackbgrd{
    width: 350px;
}
/* ===== INPUTS ===== */
input, textarea, select{
    background-color: transparent;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: 'Patrick Hand';
    font-size: 16px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    resize:none;
}
input:focus, input:hover, textarea:focus, textarea:hover, select:hover, select:focus{
    background-color: rgba(230,221,148,0.3);
    outline: none;
}
input[type="number"]{
    text-align: center;
    vertical-align: middle;
}
div.sheet-boxed input[type="number"]{
    width: 36px;
    height: 18px;
    margin-top: 2px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}
select {
    width: auto;
    height: 18px;
    line-height: 18px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-transform: capitalize;
}
select.sheet-alignment{
    width: 110px;
}
span.sheet-pseudoattr{
    display: inline-block;
    font-family: 'Patrick Hand';
    font-size: 16px;
    line-height: 16px;
    margin-top: 3px;
    height: 18px;
    vertical-align: bottom;
}
/* ===== ABILITIES ===== */
div.sheet-abilities{
    width: 260px;
}
.sheet-baseattr {
    opacity: 0;
    height: 0px;
    width: 0px;
    pointer-events: none;
    display: inline;
    position: absolute;
}
.sheet-finalattr {
    display: inline-block;
}
.sheet-boxed:hover .sheet-baseattr,
.sheet-boxed .sheet-baseattr:focus {
    opacity: 1;
    width: 36px;
    height: 18px;
    pointer-events: auto;
    position: static;
}
.sheet-boxed:hover .sheet-finalattr,
.sheet-boxed .sheet-baseattr:focus ~ .sheet-finalattr {
    display: none;
}
.sheet-boxed .sheet-attr-flag[value="1"] + .sheet-finalattr{
    color: #501414;
}
.sheet-boxed .sheet-attr-flag[value="1"] + .sheet-finalattr:after{
    content: '*';
    font-size: 15px;
    position: absolute;
}
div.sheet-ability{
    position: relative;
}
/* ===== BUTTONS ===== */
button[type="roll"].sheet-myrol{
    text-align: center;
    text-decoration: none;
    background:none;
    background-image:none;
    border: none;
    box-shadow: none;
    text-shadow: none;
    padding: inherit;
    margin: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: inherit;
    text-align: inherit;
    vertical-align: inherit;
}
button[type="roll"].sheet-myrol:hover{
    color: #BE202E;
}
button[type="roll"].sheet-myrol:before{
    content: none;
}
div.sheet-blacklabel .sheet-blackbgrd button[type="roll"].sheet-myrol.sheet-big{
    margin-top: -2px;
    margin-bottom: 2px;
}
/* ===== PSEUDO CHECKS ===== */
input[type="checkbox"].sheet-pseudocheck {
    opacity: 0;
    width: 13px;
    cursor: pointer;
    z-index: 10;
    margin-top: 3px;
    line-height: 13px;
}
input[type="checkbox"].sheet-pseudocheck + span{
    font-size: 13px;
    line-height: 13px;
    white-space: nowrap;
}
input[type="checkbox"].sheet-pseudocheck + span.sheet-mright{
    margin-right: -13px;
    margin-left: 2px;
}
input[type="checkbox"].sheet-pseudocheck + span.sheet-mleft{
    margin-left: -13px;
    margin-right: 2px;
}
input[type="checkbox"].sheet-pseudocheck + span::before {
    text-align: middle;
    display: inline-block;
    vertical-align: middle;
    -moz-box-shadow: 0 0 0px #000;
    -webkit-box-shadow: 0 0 0px #000;
    box-shadow: 0 0 0px #000;
    background: transparent;
    content: "☐";
    line-height: 18px;
    font-size: 18px;
}
input[type="checkbox"].sheet-pseudocheck:checked + span::before {
    content: "☑";
}
/* ===== PSEUDO TABS ===== */
div.sheet-tabmain,
div.sheet-tabadd,
div.sheet-tabspell,
div.sheet-tabconf {
    display: none;
    text-align: center;
    width: 100%;
    border: 1px solid black;
    padding-top: 4px;
}
input.sheet-tabmain:checked ~ div.sheet-tabmain{
    display: block;
}
input.sheet-tabadd:checked ~ div.sheet-tabadd{
    display: block;
}
input.sheet-tabspell:checked ~ div.sheet-tabspell{
    display: block;
}
input.sheet-tabconf:checked ~ div.sheet-tabconf{
    display: block;
}
input.sheet-tabmain,
input.sheet-tabadd,
input.sheet-tabspell,
input.sheet-tabconf{
    margin: 0;
    margin-top: -4px;
    margin-bottom: -4px;
    padding: 0;
    display: inline-block;
    opacity: 0;
    width: 110px;
    height: 20px;
    z-index: 2;
}
input.sheet-tabmain + span,
input.sheet-tabadd + span,
input.sheet-tabspell + span,
input.sheet-tabconf + span{
    color: #666666;
    background-color: #BBBBBB;
    font-size: 10px;
    text-align:center;
    display: inline-block;
    width: 110px;
    height: 20px;
    margin: 0;
    margin-left: -110px;
    margin-right: -5px;
    padding:0;
    margin-bottom: -1px;
    text-transform: uppercase;
    border: 1px solid #666666;
    border-bottom-color: black;
    z-index: 1;
}
input.sheet-tabmain:checked + span,
input.sheet-tabadd:checked + span,
input.sheet-tabspell:checked + span,
input.sheet-tabconf:checked + span{
    font-weight: bold;
    color: black;
    background-color: white;
    border-left-color: black;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: white;
}
/* ===== OPTIONS ===== */
.sheet-abilities .sheet-options-flag {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 16px;
    height: 16px;
    z-index: 2;
}
.sheet-abilities .sheet-options-flag + span {
    position: absolute;
    top: 0px;
    left: 0px;
    white-space: nowrap;
    width: 16px;
    height: 16px;
    font-size: 16px;
    font-family: pictos;
    color: #BBBBBB;
    cursor: pointer;
    margin-top: 0px;
    display: none;
}
.sheet-abilities .sheet-options-flag:hover + span {
    color: #E6DD94;
    display: block;
}
.sheet-abilities .sheet-options-flag:checked + span {
    color: #E6DD94;
    display: block;
}
.sheet-abilities .sheet-ability:hover .sheet-options-flag + span {
    display: block;
}
.sheet-options{
    display: none;
    border-bottom: 2px dotted #C3996B;
}
.sheet-abilities .sheet-options textarea{
    height: 40px;
    font-size: 14px;
    resize: vertical;
}
.sheet-abilities .sheet-options-flag:checked ~ .sheet-options {
    display: inherit;
}
.sheet-abilities .sheet{
    display: none;
}
