/* color ref
 black / white
 red portfolio: #501414 rgba(80,20,20)
 grey portfolio: #BBBBBB rgba(187,187,187)
 red logo: #BE202E rgba(190,32,46)
 yellow logo: #E6DD94 rgba(230,221,148)
 beige logo: #C3996B rgba(195,153,107)
 light brow logo: #4C3224 rgba(76,50,36)
 brown logo: #3C2517 rgba(60,37,23)

 logo: https://raw.githubusercontent.com/NathaTerrien/roll20-wip/master/PFO/img/logo.png
 left border: https://raw.githubusercontent.com/NathaTerrien/roll20-wip/master/PFO/img/brdleft.png
 right border: https://raw.githubusercontent.com/NathaTerrien/roll20-wip/master/PFO/img/brdright.png
*/
div,
button,
textarea,
span,
input,
select,
img,
label{
    box-sizing: border-box;
}
div{
    margin: 0px;
    padding: 0px;
}
img{
    margin: 0px;
    padding: 0px;
}
/* ==== CLASSES ==== */
.sheet-debug{
    border: 1px solid red;
}
.sheet-underlined{
    border-bottom: 1px solid black;
}
.sheet-bordered{
    border: 1px solid black;
    margin-bottom: 4px;
}
.sheet-titled{
    margin-top: -13px;
    padding-top: 15px;
}
.sheet-block{
    display: block;
}
.sheet-inbox{
    padding-left:2px;
    padding-bottom: 2px;
    text-align: left;
}
.sheet-inboxright{
    padding-right: 2px;
    padding-bottom: 2px;
    text-align: right;
}
.sheet-indent{
    text-indent: 10px;
}
.sheet-padindent{
    padding-left: 10px;
}
.sheet-bold{
    font-weight: bold;
}
.sheet-center{
    text-align: center;
}
.sheet-labline{
    line-height: 1em;
}
.sheet-labline.sheet-top{
    margin-top: 2px;
}
.sheet-labline.sheet-bottom{
    margin-bottom: 2px;
}
.sheet-invisible {
    opacity: 0;
}
.sheet-greybg{
    background-color: #DDD;
}
/* ==== DIVS ==== */
div.sheet-main{
    vertical-align: top;
    text-align: left;
    width: 850px;
    max-width: 850px;
    background-color: white;
    font-family: 'Times New Roman';
    color: black;
}
div.sheet-myrow{
    display: block;
    width: 100%;
    text-align: left;
}
div.sheet-myrow.sheet-right{
    text-align: right;
}
div.sheet-myrow.sheet-center{
    text-align: center;
}
div.sheet-spacer{
    display: block;
    height: 6px;
}
div.sheet-abilities{
    width: 250px;
    max-width: 250px;
}
div.sheet-ability {
    margin-bottom: 1px;
}
div.sheet-colhalf{
    display: inline-block;
    vertical-align: top;
    width: 49.8%;
    text-align: left;
}
div.sheet-col1third{
    display: inline-block;
    vertical-align: top;
    width: 279px;
    max-width: 279px;
    margin: 1px;
    text-align: center;
}
.sheet-spells div.sheet-col1third {
    width: 275px;
    max-width: 275px;
}
div.sheet-col2third{
    display: inline-block;
    vertical-align: top;
    width: 560px;
    max-width: 560px;
}
div.sheet-blacklabel{
    display: inline-block;
    background-color: black;
    color: white;
    text-align: center;
    vertical-align: top;
    height: 24px;
    text-transform: uppercase;
    border: none;
}
div.sheet-blacklabel::after{
    content: "";
    clear: both;
    display: table;
}
div.sheet-blacklabel .sheet-blackbgrd{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0px 0px 0px 0px;
}
div.sheet-blacklabel .sheet-blackbgrd .sheet-big{
    display: inline-block;
    font-size: 1.3em;
    line-height: 1.0em;
    font-weight: bold;
}
div.sheet-blacklabel .sheet-blackbgrd .sheet-big.sheet-only{
    padding-top: 3px;
}
div.sheet-blacklabel .sheet-blackbgrd .sheet-med{
    display: block;
    font-size: 0.80em;
    line-height: 0.85em;
}
div.sheet-blacklabel .sheet-blackbgrd .sheet-med.sheet-only{
    padding-top: 13px;
}
div.sheet-blacklabel .sheet-blackbgrd .sheet-sml{
    display: block;
    font-size: 0.65em;
    line-height: 0.65em;
    font-family: sans-serif;
    margin-top: -1px;
}
img.sheet-brdleft,
img.sheet-brdright {
    display: inline-block;
    height: inherit;
}
img.sheet-brdleft {
    float: left;
    clear: left;
    margin-right: 4px;
}
img.sheet-brdright {
    float: right;
    clear: right;
    margin-left: 4px;
}
div.sheet-identity{
    display: inline-block;
    margin-left: 4px;
}
div.sheet-boxed {
    display: inline-block;
    border: 1px solid black;
    width: 40px;
    height: 24px;
    vertical-align: top;
    text-align: center;
    background-color: white;
}
div.sheet-boxed.sheet-greybg{
    background-color: #DDD;
}
div.sheet-ability,
div.sheet-acvalues,
div.sheet-initiative,
div.sheet-acitem,
div.sheet-saves,
div.sheet-babs,
div.sheet-attackmods,
div.sheet-defenses,
div.sheet-attack,
div.sheet-skill,
div.sheet-concentration,
div.sheet-spell {
    position: relative;
}
div.sheet-abilities,
div.sheet-subcol {
    display: inline-block;
    vertical-align: top;
}
div.sheet-subcol.sheet-hpinit {
    width: 170px;
    max-width: 170px;
}
div.sheet-hpvalues,
div.sheet-initiative {
    display: block;
}
.sheet-identity span{
    display: block;
    margin-left: 2px;
    text-transform: capitalize;
    font-size: 1.03em;
    color: black;
}
.sheet-identity input[type=text].sheet-medium {
    width: 139px;
}
.sheet-identity input[type=text].sheet-small {
    width: 46px;
}
.sheet-abilities div.sheet-blacklabel {
    width: 80px;
}
.sheet-abilities div.sheet-boxed{
    margin-left: 5px;
    margin-right: 5px;
}
.sheet-hpvalues div.sheet-blacklabel,
.sheet-initiative div.sheet-blacklabel {
    width: 70px;
}
.sheet-initiative div.sheet-boxed,
.sheet-hpvalues div.sheet-boxed {
    margin-left: 5px;
}
.sheet-acvalues div.sheet-blacklabel.sheet-ac {
    width: 40px;
}
.sheet-acvalues div.sheet-blacklabel.sheet-touch {
    width: 72px;
}
.sheet-acvalues div.sheet-blacklabel.sheet-flatfooted {
    width: 131px;
}
div.sheet-save {
    display: inline-block;
}
.sheet-fortitude div.sheet-blacklabel{
    width: 58px;
}
.sheet-reflex div.sheet-blacklabel{
    width: 44px;
}
.sheet-will div.sheet-blacklabel{
    width: 55px;
}
.sheet-babs div.sheet-blacklabel.sheet-bab {
    width: 215px;
}
.sheet-babs div.sheet-blacklabel.sheet-cmb {
    width: 75px;
}
.sheet-attackmods div.sheet-blacklabel.sheet-melee,
.sheet-attackmods div.sheet-blacklabel.sheet-ranged {
    width: 123px;
}
.sheet-defenses div.sheet-blacklabel.sheet-cmd {
    width: 84px;
}
.sheet-defenses div.sheet-blacklabel.sheet-sr {
    width: 205px;
}
.sheet-skills div.sheet-blacklabel {
    width: 85%;
}

div.sheet-acitems {
    width: 550px;
}
.sheet-acitems .sheet-blackbgrd.sheet-item {width: 190px;}
.sheet-acitems .sheet-blackbgrd.sheet-equipped {width: 16px;}
.sheet-acitems .sheet-blackbgrd.sheet-ac ,
.sheet-acitems .sheet-blackbgrd.sheet-flat ,
.sheet-acitems .sheet-blackbgrd.sheet-touch ,
.sheet-acitems .sheet-blackbgrd.sheet-check ,
.sheet-acitems .sheet-blackbgrd.sheet-max {width: 35px;}
.sheet-acitems .sheet-spacer.sheet-type,
.sheet-acitems .sheet-blackbgrd.sheet-type {width: 60px;}
.sheet-acitems .sheet-blackbgrd.sheet-spell {width: 38px;}
.sheet-acitems .sheet-lab.sheet-totals {width: 90px;}
.sheet-acitems .sheet-lab.sheet-shield,
.sheet-acitems .sheet-lab.sheet-armor {width: 50px;}
.sheet-acitem div.sheet-myrow {
    padding-left: 16px;
}

.sheet-attack .sheet-lab {text-align: left;}
.sheet-attacks div.sheet-padindent {padding-left: 22px;}
.sheet-attacks select.sheet-type,
.sheet-attacks select.sheet-vs {width: 80px;}
.sheet-attacks .sheet-dmgbase {width: 120px;}
.sheet-attacks .sheet-dmgtype {width: 120px;}
.sheet-attacks span.sheet-lab.sheet-atk {width: 52px;}
.sheet-attacks span.sheet-lab.sheet-typ {width: 35px;}
.sheet-attack .sheet-range {width: 181px;}
.sheet-attacks .sheet-weapon {width: 200px;}
.sheet-attack .sheet-weapon {
    width: 225px;
    text-align: left;
    font-size: 1.1em;
    padding-left: 2px;
}
.sheet-attack .sheet-weapon .sheet-vs {
    width: auto;
    text-align: left;
    font-family: sans-serif;
    font-size: 0.8em;
    line-height: 0.85em;
    white-space: pre;
}
.sheet-attacks .sheet-atk {width: 50px;}
.sheet-attacks .sheet-damage {width: 80px;}
.sheet-attacks .sheet-pseudoattr.sheet-atk,
.sheet-attacks .sheet-pseudoattr.sheet-damage {text-align: center;}
.sheet-attacks .sheet-ammo {width: 40px;}

.sheet-lbl {
    text-align: left;
    vertical-align: bottom;
    font-family: sans-serif;
    font-size: 0.95em;
    line-height: 1.2em;
    text-transform: capitalize;
    white-space: pre;
}
.sheet-lbl.sheet-right {text-align: right;}
.sheet-skills .sheet-name {width: 180px;}
.sheet-skill .sheet-number,
.sheet-spellcasting .sheet-number,
.sheet-spells .sheet-number {
    width: 30px;
    text-align: center;
}
.sheet-skill span.sheet-perform,
.sheet-skill span.sheet-craft,
.sheet-skill span.sheet-knowledge,
.sheet-skill span.sheet-profession,
.sheet-skill span.sheet-custom {width: 60px;}
.sheet-skill input[type="text"].sheet-craft,
.sheet-skill input[type="text"].sheet-knowledge,
.sheet-skill input[type="text"].sheet-perform,
.sheet-skill input[type="text"].sheet-profession,
.sheet-skill input[type="text"].sheet-custom {width: 117px;}

.sheet-spellcasting .sheet-perlevel {margin-bottom: 1px;}
.sheet-spellcasting .sheet-perlevel .sheet-lab,
.sheet-spellcasting .sheet-perlevel .sheet-level {
    width: 40px;
    margin: 0px 1px 0px 1px;
}
.sheet-spellcasting .sheet-perlevel .sheet-boxed {margin: 0px 1px 0px 1px;}
.sheet-spells div.sheet-blacklabel {width: 60%;}
div.sheet-spell {margin-top: 2px;}
.sheet-spell .sheet-lab {text-align: left;}
.sheet-spell span.sheet-std {width: 80px;}
.sheet-spell input[type="text"].sheet-std {
    width: 185px;
    font-size: 1.2em;
    line-height: 1.2em;
}
.sheet-spell .sheet-autoex.sheet-std {
    display: inline-block;
    width: 185px;
    max-width: 185px;
    vertical-align: bottom;
}
.sheet-spell span.sheet-med {width: 95px;}
.sheet-spell input[type="text"].sheet-med {
    width: 150px;
    font-size: 1.2em;
    line-height: 1.2em;
}
.sheet-spell .sheet-atk {width: 50px;}
.sheet-spell .sheet-damage {width: 80px;}
.sheet-spell .sheet-dmgbase {width: 75px;}
.sheet-spell .sheet-dmgtype {width: 75px;}
.sheet-spell span.sheet-lbl.sheet-atk {width: 55px;}
.sheet-spell span.sheet-lbl.sheet-typ {width: 35px;}
.sheet-spell .sheet-spelldsp {
    width: 190px;
    text-align: left;
    font-size: 1.2em;
    padding-left: 2px;
}

/* ===== SPANS ===== */
span {display: inline-block;}
span.sheet-spacer{
    min-width: 10px;
    text-align: center;
}
span.sheet-lab {
    text-align: center;
    vertical-align: bottom;
    font-family: sans-serif;
    font-size: 0.84em;
    line-height: 1.1em;
    text-transform: capitalize;
    white-space: pre;
    color: black;
}
.sheet-lab.sheet-right{text-align: right;}
.sheet-abilities .sheet-lab:first-child {width: 80px;}
.sheet-abilities .sheet-lab {width: 50px;}
.sheet-hpvalues .sheet-lab,
.sheet-initiative .sheet-lab {
    width: 45px;
}
.sheet-hpvalues .sheet-lab:first-child{
    width: 70px;
}
.sheet-acvalues .sheet-lab,
.sheet-saves .sheet-lab,
.sheet-babs .sheet-lab,
.sheet-attackmods .sheet-lab,
.sheet-defenses .sheet-lab {
    width: 40px;
}
span.sheet-pseudoattr {
    font-family: 'Patrick Hand';
    font-size: 1.2em;
    line-height: 16px;
    height: 18px;
    vertical-align: bottom;
    white-space: pre;
    overflow: hidden;
}
div.sheet-boxed span.sheet-pseudoattr {
    min-width: 36px;
    margin-top: 3px;
}
.sheet-acitems div.sheet-boxed span.sheet-pseudoattr {
    width: 33px;
}

.sheet-skills .sheet-lab.sheet-class {width: 20px;}
.sheet-skills .sheet-lab.sheet-name {
    width: 176px;
    text-align: left;
}
.sheet-skills .sheet-lab.sheet-total,
.sheet-skills .sheet-lab.sheet-ability,
.sheet-skills .sheet-lab.sheet-ranks,
.sheet-skills .sheet-lab.sheet-misc {width: 39px;}
.sheet-skills .sheet-lab.sheet-temp {width: 37px;}
.sheet-skill div.sheet-skillability {display: none;}
.sheet-skill input.sheet-skillability[value="strength"] + div.sheet-skillability,
.sheet-skill input.sheet-skillability[value="dexterity"] + div.sheet-skillability {display: inline-block;}

/* ===== INPUTS ===== */
input, textarea{
    background-color: transparent;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: 'Patrick Hand';
    font-size: 1.2em;
    color: rgb(85, 85, 85);
    border: none;
    border-radius: 0;
    box-shadow: none;
    resize:none;
}
input:focus, input:hover, textarea:focus, textarea:hover, select:hover, select:focus{
    background-color: rgba(230,221,148,0.3);
    outline: none;
}
input[type="number"]{
    text-align: center;
    vertical-align: middle;
}
input[type="number"].sheet-sml {
    width: 30px;
}
div.sheet-boxed input[type="number"]{
    width: 36px;
    height: 18px;
    margin-top: 2px;
}
.sheet-identity input[type="number"],
.sheet-acitem input[type="number"],
.sheet-attacks input[type="number"],
.sheet-spells input[type="number"] {
    width: 35px;
}
.sheet-spells input[type="number"].sheet-sml {width: 25px;}

.sheet-acitems div.sheet-boxed {
    width: 35px;
}
.sheet-skill input[type="number"],
.sheet-spellcasting input[type="number"] {
    width: 30px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}
input[type=number] {
    -moz-appearance:textfield;
}
select {
    width: auto;
    height: 1.3em;
    line-height: 1.0em;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-transform: capitalize;
    vertical-align: bottom;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 1.0em;
    font-family: sans-serif;
    border: none;
    border-radius: 0;
    box-shadow: none;
    resize: none;
    background: transparent;
}
select.sheet-alignment {
    width: 110px;
}
select.sheet-size {
    width: 80px;
}
.sheet-acitem select{
    width: 60px;
}
/* ===== ABILITIES ===== */
.sheet-baseattr {
    opacity: 0;
    height: 0px;
    width: 0px;
    pointer-events: none;
    display: inline;
    position: absolute;
}
.sheet-finalattr {
    display: inline-block;
}
.sheet-boxed:hover .sheet-baseattr,
.sheet-boxed .sheet-baseattr:focus {
    opacity: 1;
    width: 36px;
    height: 18px;
    pointer-events: auto;
    position: static;
}
.sheet-boxed:hover .sheet-finalattr,
.sheet-boxed .sheet-baseattr:focus ~ .sheet-finalattr {
    display: none;
}
/* ===== FLAGS ===== */
.sheet-boxed .sheet-attr-flag[value="1"] + span,
.sheet-spellcasting .sheet-attr-flag[value="1"] + span {color: #501414;}
.sheet-boxed .sheet-attr-flag[value="1"] + span:after,
.sheet-spellcasting .sheet-attr-flag[value="1"] + span:after {
    content: "e";
    font-family: "Pictos";
    font-size: 0.8em;
    font-weight: bold;
    position: absolute;
    margin-left: 1px;
}
.sheet-boxed .sheet-attr-flag[value="1"] + .sheet-finalattr{color: #501414;}
.sheet-boxed .sheet-attr-flag[value="1"] + .sheet-finalattr:after{
    content: "e";
    font-family: "Pictos";
    font-size: 0.8em;
    font-weight: bold;
    position: absolute;
    margin-left: 1px;
}
.sheet-skill .sheet-attr-flag:not([value="0"]) + span {color: #501414;}
.sheet-skill .sheet-attr-flag:not([value="0"]) + span:after{
    font-family: "Pictos";
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 1px;
}
.sheet-skill .sheet-attr-flag[value="1"] + span:after {
    content: "U";
}
.sheet-skill .sheet-attr-flag[value="2"] + span:after {
    content: "e";
}
.sheet-skill .sheet-attr-flag[value="3"] + span:after {
    content: "Ue";
}

/* ===== BUTTONS ===== */
button[type="roll"].sheet-myrol{
    text-align: center;
    text-decoration: none;
    background:none;
    background-image:none;
    border: none;
    box-shadow: none;
    text-shadow: none;
    padding: inherit;
    margin: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: inherit;
    text-align: inherit;
    vertical-align: inherit;
}
button[type="roll"].sheet-myrol:hover{
    color: #BE202E;
}
button[type="roll"].sheet-myrol:before{
    content: none;
}
div.sheet-blacklabel .sheet-blackbgrd button[type="roll"].sheet-myrol.sheet-big{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
div.sheet-blacklabel .sheet-blackbgrd button[type="roll"].sheet-myrol.sheet-big.sheet-only{
    padding-top: 3px;
}
/* ===== PSEUDO CHECKS ===== */
input.sheet-pseudocheck {
    opacity: 0;
    width: 13px;
    cursor: pointer;
    z-index: 10;
    margin-top: 3px;
    line-height: 13px;
}
input.sheet-pseudocheck + span{
    font-size: 13px;
    line-height: 13px;
    white-space: nowrap;
}
input.sheet-pseudocheck + span.sheet-mright{
    margin-right: -13px;
    margin-left: 2px;
}
input.sheet-pseudocheck + span.sheet-mleft{
    margin-left: -13px;
    margin-right: 2px;
}
input.sheet-pseudocheck + span::before {
    text-align: middle;
    display: inline-block;
    vertical-align: middle;
    -moz-box-shadow: 0 0 0px #000;
    -webkit-box-shadow: 0 0 0px #000;
    box-shadow: 0 0 0px #000;
    background: transparent;
    content: "☐";
    line-height: 18px;
    font-size: 18px;
}
input.sheet-pseudocheck:checked + span::before {
    content: "☑";
}
/* ==== RADIO ==== */
.sheet-dotcontainer{
    display: inline-block;
    position: relative;
}
.sheet-dots {
    display: inline-block;
    position: relative;
    white-space: nowrap;
}
.sheet-dots input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: 1;
}
.sheet-dots input[type="radio"],
.sheet-dots input[type="radio"] + span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 3px -1px 0px -1px;
}
.sheet-dots input[type="radio"] + span {
    vertical-align: top;
    position: relative;
    background: transparent;
}
.sheet-dots input[type="radio"]:not([value="0"]) + span {
    border: 1px solid black;
}
.sheet-dots input[type="radio"]:not([value="0"]) + span::before {
    content: "✔";
    position: absolute;
    top: -3px;
    left: 0px;
}
.sheet-dots input[type="radio"]:checked ~ input[type="radio"] + span::before {
    content: " ";
}
.sheet-dots input[type="radio"][value="0"] + span:before {
    content: "P.";
    font-family: sans-serif;
    font-size: 0.95em;
    position: relative;
}
.sheet-dots input[type="radio"][value="0"]:hover + span:before {
    font-weight: bold;
    color: #BE202E;
}
/* ===== PSEUDO TABS ===== */
div.sheet-tabmain,
div.sheet-tabadd,
div.sheet-tabspell,
div.sheet-tabconf {
    display: none;
    text-align: center;
    width: 100%;
    border-top: 1px solid black;
    padding-top: 4px;
}
input.sheet-tabmain:checked ~ div.sheet-tabmain{
    display: block;
}
input.sheet-tabadd:checked ~ div.sheet-tabadd{
    display: block;
}
input.sheet-tabspell:checked ~ div.sheet-tabspell{
    display: block;
}
input.sheet-tabconf:checked ~ div.sheet-tabconf{
    display: block;
}
input.sheet-tabmain,
input.sheet-tabadd,
input.sheet-tabspell,
input.sheet-tabconf{
    margin: 0;
    margin-top: -4px;
    margin-bottom: -4px;
    padding: 0;
    display: inline-block;
    opacity: 0;
    width: 110px;
    height: 20px;
    z-index: 2;
}
input.sheet-tabmain + span,
input.sheet-tabadd + span,
input.sheet-tabspell + span,
input.sheet-tabconf + span{
    color: #666666;
    background-color: #BBBBBB;
    font-size: 0.85em;
    text-align:center;
    display: inline-block;
    width: 110px;
    height: 20px;
    margin: 0;
    margin-left: -110px;
    margin-right: -5px;
    padding:0;
    margin-bottom: -1px;
    text-transform: uppercase;
    border: 1px solid #666666;
    border-bottom-color: black;
    z-index: 1;
}
input.sheet-tabmain:checked + span,
input.sheet-tabadd:checked + span,
input.sheet-tabspell:checked + span,
input.sheet-tabconf:checked + span{
    font-weight: bold;
    color: black;
    background-color: white;
    border-left-color: black;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: white;
}
/* ===== OPTIONS ===== */
.sheet-options-flag {
    opacity: 0;
    position: absolute;
    width: 16px;
    min-height: 16px;
    z-index: 2;
}
.sheet-options-flag + span {
    position: absolute;
    white-space: nowrap;
    width: 16px;
    height: 16px;
    font-size: 16px;
    font-family: pictos;
    color: #BBBBBB;
    cursor: pointer;
    margin-top: 0px;
    display: none;
}
.sheet-options-flag:hover + span,
.sheet-options-flag:checked + span {
    color: #C3996B;
    display: block;
}
.sheet-abilities .sheet-options-flag,
.sheet-abilities .sheet-options-flag + span,
.sheet-acvalues .sheet-options-flag,
.sheet-acvalues .sheet-options-flag + span,
.sheet-initiative .sheet-options-flag,
.sheet-initiative .sheet-options-flag + span,
.sheet-saves .sheet-options-flag.sheet-fortitude,
.sheet-saves .sheet-options-flag.sheet-fortitude + span,
.sheet-babs .sheet-options-flag.sheet-bab,
.sheet-babs .sheet-options-flag.sheet-bab + span,
.sheet-attackmods .sheet-options-flag.sheet-melee,
.sheet-attackmods .sheet-options-flag.sheet-melee + span,
.sheet-defenses .sheet-options-flag.sheet-cmd,
.sheet-defenses .sheet-options-flag.sheet-cmd + span,
.sheet-attacks .sheet-options-flag,
.sheet-attacks .sheet-options-flag + span,
.sheet-skill .sheet-options-flag,
.sheet-skill .sheet-options-flag + span,
.sheet-concentration .sheet-options-flag,
.sheet-concentration .sheet-options-flag + span,
.sheet-spell .sheet-options-flag,
.sheet-spell .sheet-options-flag + span {
    top: -2px;
    left: 0px;
}
.sheet-saves .sheet-options-flag.sheet-reflex,
.sheet-saves .sheet-options-flag.sheet-reflex + span {
    top: -2px;
    left: 148px;
}
.sheet-saves .sheet-options-flag.sheet-will,
.sheet-saves .sheet-options-flag.sheet-will + span {
    top: -2px;
    left: 281px;
}
.sheet-babs .sheet-options-flag.sheet-cmb,
.sheet-babs .sheet-options-flag.sheet-cmb + span {
    top: -2px;
    left: 262px;
}
.sheet-attackmods .sheet-options-flag.sheet-ranged,
.sheet-attackmods .sheet-options-flag.sheet-ranged + span {
    top: -2px;
    left: 215px;
}
.sheet-defenses .sheet-options-flag.sheet-sr,
.sheet-defenses .sheet-options-flag.sheet-sr + span {
    top: -2px;
    left: 174px;
}
.sheet-abilities .sheet-ability:hover .sheet-options-flag + span,
.sheet-acvalues:hover .sheet-options-flag + span,
.sheet-initiative:hover .sheet-options-flag + span,
.sheet-acitem:hover .sheet-options-flag + span,
.sheet-saves:hover .sheet-options-flag + span,
.sheet-babs:hover .sheet-options-flag + span,
.sheet-attackmods:hover .sheet-options-flag + span,
.sheet-defenses:hover .sheet-options-flag + span,
.sheet-attack:hover .sheet-options-flag + span,
.sheet-skill:hover .sheet-options-flag + span,
.sheet-concentration:hover .sheet-options-flag + span,
.sheet-spell:hover .sheet-options-flag + span {
    display: block;
}
.sheet-options,
.sheet-options-fortitude,
.sheet-options-reflex,
.sheet-options-will,
.sheet-options-bab,
.sheet-options-cmb,
.sheet-options-melee,
.sheet-options-ranged,
.sheet-options-cmd,
.sheet-options-sr {
    display: none;
    background-color: rgb(250,250,250);
    margin-top: 2px;
    border-top: 1px dotted rgba(195,153,107,0.2);
    border-bottom: 2px dotted #C3996B;
}
.sheet-options-flag:checked ~ .sheet-options,
.sheet-options-flag.sheet-fortitude:checked ~ .sheet-options-fortitude,
.sheet-options-flag.sheet-reflex:checked ~ .sheet-options-reflex,
.sheet-options-flag.sheet-will:checked ~ .sheet-options-will,
.sheet-options-flag.sheet-bab:checked ~ .sheet-options-bab,
.sheet-options-flag.sheet-cmb:checked ~ .sheet-options-cmb,
.sheet-options-flag.sheet-melee:checked ~ .sheet-options-melee,
.sheet-options-flag.sheet-ranged:checked ~ .sheet-options-ranged,
.sheet-options-flag.sheet-cmd:checked ~ .sheet-options-cmd,
.sheet-options-flag.sheet-sr:checked ~ .sheet-options-sr {
    display: inherit;
}
/* ===== AUTO EXPAND TEXTAREA ===== */
.sheet-autoex {
    position: relative;
    cursor: text;
    font-family: 'Patrick Hand';
    font-size: 1.2em;
    line-height: 1.2em;
    min-height: 1.2em;
    text-align: left;
}
.sheet-autoex span {
    visibility: hidden;
    display: block;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    white-space: pre-wrap;
    text-align: inherit;
    padding: 2px;
}
.sheet-autoex textarea {
    display: block;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    white-space: pre-wrap;
    text-align: inherit;
    padding: 2px;
}
/* ===== REPEATING SECTIONS CTRL ===== */
.repcontrol {
    min-height: 27px;
}

.repcontrol .btn {
    /*visibility: hidden;*/
    border: medium none;
    color: white !important;
    background: none;
    box-shadow: none;
    padding: 4px 4px 4px 4px;
}

.repcontrol .btn:focus {
    outline: 0;
}

.repcontrol .repcontrol_edit:after {
    content: '(';
    visibility: visible;
    font-family: pictos;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 14px;
    height: 12px;
    width: 12px;
    padding: 4px;
    display: inline-block;
    line-height: 12px;
}

.editmode ~ .repcontrol .repcontrol_edit:after {
    content: ')';
}

.repcontrol .repcontrol_add:before {
    content: '&';
    visibility: visible;
    font-family: pictos;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 14px;
    height: 12px;
    width: 12px;
    padding: 4px;
    display: inline-block;
    line-height: 12px;
}

.repcontrol .repcontrol_edit:hover:after,
.repcontrol .repcontrol_add:hover:before
{
    color: #C3996B;
    border-color: #C3996B;
}

.itemcontrol {
    z-index: 10;
}

.itemcontrol .repcontrol_del {
    font-size: 10px;
    padding: 0px;
    height: 18px;
    width: 18px;
}

.itemcontrol .repcontrol_move {
    font-size: 10px;
    padding: 0px;
    height: 18px;
    width: 18px;
}
