/* Couleurs
Beige base : #BCA87D rgba(188,168,125,1.0)
Beige clair fond saisie : #E0D3BA rgba(224,211,186,1.0)
Beige gris (bordure sec claire) : #B5A790 rgba(181,167,144,1.0)
Marron clair (bordure sec foncé) : #86704D rgba(134,112,77,1.0)
Marron foncé (bordure ) : #64553E rgba(100,85,62,1.0)
Texte ou fond "noir" : #231F20 rgba(35,31,32,1.0)
Couleur : # rgba(,,,1.0)
*/
.sheet-block{
    display: block;
}
.sheet-libf{
    font-family: 'Shadows Into Light';
    font-style: italic;
    font-weight: bold;
    font-size: 17px;
}
div,
button,
textarea,
span,
input,
select{
    box-sizing: border-box;
}
div{
    margin: none;
    padding: none;
    background-color: transparent;
    /* border: 1px solid red; */
}
div.sheet-bgmain{
    width: 850px;
    max-width: 850px;
    text-align: left;
    background-color : #BCA87D;
    background-image: url('https://raw.githubusercontent.com/NathaTerrien/roll20-wip/master/Brigandyne/natural-paper.png');
    background-repeat:repeat;
    background-position:top left;
    background-size: auto;
    position: relative;
    padding: 6px;
}
div.sheet-abs{
    position: absolute;
    vertical-align: bottom;
    display: inline-block;
}
div.sheet-rel{
    position: relative;
    display: inline-block;
}
div.sheet-ligne{
    display: block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    margin: 1px;
    padding: 1px;
}
div.sheet-mycol{
    display: inline-block;
    text-align: left;
    vertical-align: top;
    background-color: #E0D3BA;
    border: 2px solid #64553E;
    border-radius: 0px 20px 20px 20px;
}
div.sheet-coltitre{
    width: inherit;
    border-radius: 0px 17px 0px 0px;
    background-color: #231F20;
    color: white;
    font-family: 'Contrail One';
    font-size: 14px;
    font-weight: normal;
    padding: 2px 10px 2px 10px;
}
div.sheet-inps{
    width: inherit;
    padding: 2px 10px 2px 10px;
}
label{
    display: inline;
    font-family: 'Contrail One';
    font-size: 14px;
    font-weight: normal;
    color: #231F20;
    margin-left: 4px;
}
input, textarea{
    background-color: transparent;
    display: inline-block;
    padding: none;
    margin: none;
    font-family: "Patrick Hand";
    font-size: 16px;
    border: none;
    box-shadow: none;
    resize:none;
    color: #231F20;
    border-radius: 0;
}
input:focus, input:hover, textarea:focus, textarea:hover{
    box-shadow: inset 0px 1px 1px rgba(134,112,77,0.01),0 0 6px rgba(134,112,77,0.5);
    background-color: transparent;
}
textarea{
    padding: 1px 2px 0px 2px;
}
input[type="text"]{
    padding: 0px 0px 0px 2px;
}
input[type="text"].sheet-inptxt1{
    font-weight: bold;
    font-size: 20px;
}
input[type="number"]{
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    max-width: 50px;
    padding: 0px 0px 0px 0px;
}
/* ===== AFFICHAGE/MASQUE ===== */
div.sheet-affichage{
    display: none;
    padding: 2px;
    background-color: rgba(100,85,62,0.5);
    /* border-radius: 0px 20px 20px 20px; */
}
input[type="checkbox"].sheet-aff:checked ~ div.sheet-affichage{
    display: block;
}
input[type="checkbox"].sheet-aff{
    display: none;
}
input[type="checkbox"].sheet-affichage{
    margin-left: -6px;
    width: 40px;
    height: 20px;
    max-width: 40px;
    opacity: 0;
    z-index: 10;
    margin: 0;
}
input[type="checkbox"].sheet-affichage + span{
    margin-left: -26px;
    display: inline-block;
    text-align: center;
    padding: 0;
    width: 20px;
    max-width: 20px;
    height: 20px;
    z-index: 10;
    font-family: 'pictos';
    color: #86704D;
    font-size: 25px;
    line-height: 20px;
}
input[type="checkbox"].sheet-affichage:hover + span,
input[type="checkbox"].sheet-affichage:checked:hover + span{
    color: #64553E;
}
input[type="checkbox"].sheet-affichage:checked + span{
    color: #231F20;
}
