div,
button,
textarea,
span,
input,
select{
    box-sizing: border-box;
}
div{
    margin: 0px 0px;
    padding: 0px 0px;
    background-color: transparent;
}
div.sheet-main{
    position: relative;
    width: 840px;
    max-width: 840px;
    text-align:center;
    font-family: 'Arial';
    background-color: white;
}
div.sheet-absinp{
    position: absolute;
}
div.sheet-ligne{
    display: block;
    text-align: left;
    width: 100%;
    margin-bottom: 2px;
}
div.sheet-mycol1{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0;
    width: 276px;
}
div.sheet-mycol2{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0;
    width: 560px;
}
div.sheet-blacklib{
    background-color: black;
    color: white;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 4px;
}
div.sheet-graylib{
    background-color: #C0C0C0;
    color: black;
    font-size: 14px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 4px;
}
div.sheet-libsmall{
    display: inline-block;
    font-style: italic;
    font-size: 11px;
}
div.sheet-lib1{
    display: inline-block;
    width: 85px;
    text-align: left;
}
.sheet-italic{
    font-style: italic;
}
.sheet-bold{
    font-weight: bold;
}
input, textarea{
    background-color: transparent;
    display: inline-block;
    padding: none;
    margin: none;
    font-family: 'Light';
    font-size: 14px;
    border: none;
    box-shadow: none;
    color: #69392E;
    border-radius: 0;
}
textarea{
    resize:none;
    overflow-y: auto;
    height: 40px;
}
input[type="text"]{
    height: 21px;
}
input[type="number"]{
    height: 21px;
}
input:focus, input:hover, textarea:focus, textarea:hover{
    box-shadow: inset 0px 1px 1px rgba(170,198,212,0.1),0 0 6px rgba(170,198,212,0.9);
    background-color: rgba(170,198,212,0.2);
}
input[type="text"].sheet-inpundl{
    border-bottom: 1px solid black;
    width: 250px;
}
input[type="number"].sheet-inpundl{
    border-bottom: 1px solid black;
    width: 60px;
    text-align: right;
}
input.sheet-inpuncen{
    text-align: center;
    font-weight: bold;
    width: 274px;
}
input.sheet-inpuncensm{
    text-align: center;
    width: 120px;
}
