/* COLORS
 #006F5B / 0,111,91 : green
 #D54134 / 213,65,52 : red
 #AAABAE / : grey
 #231F20 / 35,31,32 : black
 #BEBDBD / : text grey
 */
div,
button,
textarea,
span,
input,
select{
    box-sizing: border-box;
}
.sheet-debugred{
     border: 1px solid red;
}
div{
    margin: none;
    padding: none;
    background-color: transparent;
}
div.sheet-pc{
    display: block;
    position: relative;
    width: 1024px;
    min-height: 791px;
    text-align:center;
    font-family: 'Candal';
    background-image: url('https://raw.githubusercontent.com/NathaTerrien/roll20-wip/master/Sig/sig_bg_pc.jpg');
    background-repeat:no-repeat;
    background-position:top left;
    background-size: 1024px 791px;
    background-color: white;
}
div.sheet-absinp{
    position: absolute;
    /* border: 1px solid red; */
}
.sheet-block{
    display: block;
}
input, textarea{
    display: inline-block;
    padding: none;
    margin: none;
    border: none;
    box-shadow: none;
    resize:none;
    color: #006F5B;
    z-index: 2;
    border-radius: 0;
    font-family: 'Shadows Into Light';
    font-size: 17px;
    letter-spacing: 0.03em;
}
input{
    background-color: transparent;
}
textarea{
    background-color: transparent;
    padding: 1px 2px 0px 2px;
    overflow-y: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
input:focus, input:hover, textarea:focus, textarea:hover{
    box-shadow: inset 0px 1px 1px rgba(0,111,91,0.01),0 0 6px rgba(0,111,91,0.5);
    background-color: rgba(0,111,91,0.05);
}
input[type="text"]{
    padding: 0px 0px 0px 2px;
}
input[type="number"]{
    text-align: right;
    padding: 0px 2px 0px 0px;
}
input.sheet-iptbig1{
    font-size:23px;
    width:275px;
    text-align:center;
    font-weight:bold;
    min-height:30px;
    text-transform: capitalize;
}
input.sheet-ipttalent{
    width: 274px;
    text-align: center;
    font-weight:bold;
}
input.sheet-ipthrtage{
    width: 112px;
    text-align:center;
}
input[disabled],
input[readonly] {
    -moz-appearance: textfield;
    background-color: transparent;
}
input.sheet-inptdice{
    width: 44px;
    height: 44px;
    opacity: 0;
    margin-top: -40px;
}
input.sheet-inptdice + span{
    display: inline-block;
    min-width: 50px;
    min-height: 50px;
    margin-left: -50px;
    margin-top: -5px;
    border-width: 0px 0px 2px 4px;
    border-style: solid;
    border-color: transparent;
    border-radius: 50%;
    color: transparent;
}
input.sheet-inptdice:checked + span{
    border-color: #006F5B;
    background: rgba(0,111,91,0.2);
}
input.sheet-inptdice:hover + span{
    border-color: #D54134;
    background: rgba(213,65,52,0.2);
}
input.sheet-inptsel{
    width: 22px;
    height: 22px;
    opacity: 0;
}
input.sheet-inptsel + span{
    display: block;
    line-height: 22px;
    width:22px;
    height:22px;
    text-align:center;
    margin-top: -24px;
}
input.sheet-inptsel + span::before{
    display: inline-block;
    line-height: 22px;
    width:22px;
    height:22px;
    text-align:center;
    border-width: 3px;
    border-style: solid;
    border-radius:50%;
    border-color: transparent;
}
input.sheet-inptsel[value="0"] + span::before{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #AAABAE;
    content: "0";
    border-width: 2px;
    border-color: black;
}
input.sheet-inptsel[value="0"]:hover + span::before,
input.sheet-inptsel[value="0"]:checked + span::before{
    font-family: "Pictos";
    font-size: 20px;
    font-weight: bold;
    color: #006F5B;
    border-color: #006F5B;
    content: "3";
}
input.sheet-inptsel:not([value="0"]):hover + span::before,
input.sheet-inptsel:not([value="0"]) + span::before{
    font-family: "Pictos";
    font-size: 20px;
    font-weight: bold;
    color: #D54134;
    content: "*";
    border-color: #D54134;
}
input.sheet-inptsel:checked ~ input.sheet-inptsel:not([value="0"]) + span::before{
    font-family: "Pictos";
    font-size: 20px;
    font-weight: bold;
    color: transparent;
    border-color: transparent;
    content: "*";
}
input[type=number]:disabled::-webkit-inner-spin-button,
input[type=number]:disabled::-webkit-outer-spin-button,
input[type=number]:read-only::-webkit-inner-spin-button,
input[type=number]:read-only::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
input.sheet-iptnumrond{
    line-height: 36px;
    font-size: 36px;
    text-align: right;
    padding: 0;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    border:none;
    font-weight: bold;
    color: #D54134;
}
input.sheet-iptnumrondright{
    line-height: 36px;
    font-size: 30px;
    text-align: left;
    padding: 0;
    max-width: 35px;
    min-width: 35px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 0px 25px 25px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    font-weight: bold;
    display: inline-block;
}
span.sheet-iptnumrondright{
    display: inline-block;
    color: #006F5B;
    font-family: 'Shadows Into Light';
    font-size: 30px;
    min-height: 50px;
    max-height: 50px;
    height: 50px;
}
input.sheet-iptnumrondbott{
    line-height: 25px;
    font-size: 22px;
    text-align: center;
    padding: 0;
    max-width: 50px;
    min-width: 50px;
    min-height: 25px;
    max-height: 25px;
    border-radius: 0px 0px 25px 25px;
    border-width: 1px;
    border-style: dotted;
    border-top-style: dashed;
    border-color: black;
    font-weight: bold;
    display: block;
}
.sheet-max{
    background-color: rgba(147,35,21,0.1);
}
select{
    background-color:rgba(255,255,255,0.5);
    padding: 0px;
    margin: 0px;
    height: 1.4em;
    line-height: 1.4em;
    max-height 1.4em;
    font-weight:normal;
    border: none;
}
select.sheet-smallsel{
    width: 20px;
    background-color: rgba(0,111,91,0.4);
    padding: 0px;
    margin: 0px;
    height: 1.6em;
    line-height: 1.6em;
    font-weight: normal;
    border: none;
    color: white;
}
select.sheet-smallsel:hover{
    background-color: #006F5B;
}
/* =====  BUTTONS ===== */
button[type="roll"] {
    box-sizing: border-box;
    text-align: center !important;
    vertical-align: middle !important;
    padding: 0 0 !important;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background:transparent;
    box-shadow: none;
    text-shadow: none;
    -webkit-box-shadow: none;
}
button[type="roll"].sheet-butroll{
    white-space: nowrap;
    border-radius: 50%;
    padding-top: 20px;
}
button[type="roll"].sheet-butroll:before{
    content:"";
}
button[type="roll"].sheet-butroll:hover{
    background: rgba(213,65,52,0.2);
}
button[type="roll"].sheet-butshow{
    color: #AAABAE;
}
button[type="roll"].sheet-butshow:hover{
    color: white;
}
button[type="roll"].sheet-butshow:before{
    font-family: "Pictos";
    content: 'E';
    font-size: 26px;
    color: #AAABAE;
}
button[type="roll"].sheet-butshow:hover:before{
    color: white;
}
button[type="roll"].sheet-butd6smallred:hover{
    color: #932315;
}
button[type="roll"].sheet-butd6smallred:before{
    font-family: "dicefontd6";
    content: 'f';
    font-size: 26px;
    color: rgba(147,35,21,0.7);
}
button[type="roll"].sheet-butd6smallred:hover:before{
    color: #932315;
    content: 'F';
}
button[type="roll"].sheet-butd6smallgreen:hover{
    color: #6FB387;
    border-color: #6FB387;
    box-shadow: 1px 1px 4px 2px rgba(111,179,135,0.8);
}
button[type="roll"].sheet-butd6smallgreen:before{
    font-family: "dicefontd6";
    content: 'f';
    font-size: 26px;
    color: rgba(111,179,135,0.7);
}
button[type="roll"].sheet-butd6smallgreen:hover:before{
    color: #6FB387;
    content: 'F';
}
button[type="roll"].sheet-butd6smallwhite:hover{
    color: white;
    border-color: white;
    box-shadow: 1px 1px 4px 2px rgba(255,255,255,0.8);
}
button[type="roll"].sheet-butd6smallwhite:before{
    font-family: "dicefontd6";
    content: 'f';
    font-size: 26px;
    color: white;
}
button[type="roll"].sheet-butd6smallwhite:hover:before{
    content: 'F';
}
/* fieldset button */
div.repcontrol{
    display: inline-block;
    width: 100%;
}
.repcontrol_move{
    height: 11px;
    line-height: 11px;
    margin-top: 4px;
}
.repcontrol_del {
    height: 22px;
    line-height: 12px;
    margin-top: 4px;
    width: 30px;
}
.repcontrol_add, .repcontrol_edit {
    color: transparent;
    box-shadow: none;
    background: transparent;
    border-color: transparent;
    text-shadow:none;
    width: 100px;
}
.repcontrol_add:focus, .repcontrol_edit:focus {
    outline: none;
}
.repcontrol .repcontrol_edit:after {
    content: 'y';
    visibility: visible;
    font-family: pictos;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 20px;
    height: 20px;
    width: 20px;
    padding: 2px 4px 2px 4px;
    color: rgba(147,35,21,0.7);
}
.editmode ~ .repcontrol .repcontrol_edit:after {
    content: '2';
}
.repcontrol .repcontrol_add:before {
    content: '+';
    visibility: visible;
    font-family: pictos;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 20px;
    height: 20px;
    width: 20px;
    padding: 2px 4px 2px 4px;
    color: rgba(147,35,21,0.7);
}
.repcontrol .repcontrol_edit:hover:after,
.repcontrol .repcontrol_add:hover:before
{
    box-shadow: 1px 1px 4px 2px rgba(147,35,21,0.8);
    border-color: #932315;
    color: #932315;
}
.repcontrol_add:focus:before, .repcontrol_edit:focus:after {
    color: #932315;
}
/* === TEMPLATES === */
.sheet-rolltemplate-tmpl div{
    vertical-align: middle;
    border: none;
    box-sizing: border-box;
    display: block;
}
.sheet-rolltemplate-tmpl div.sheet-tplmain{
    background-color: transparent;
    border-width: 1px 2px 1px 2px;
    border-radius: 0px 6px 6px 0px;
    border-style: solid;
    border-color: #231F20;
    width: 220px;
}
.sheet-rolltemplate-tmpl div.sheet-pc{
    background-color: #231F20;
    color : #AAABAE;
    padding: 2px 10px 2px 10px;
    border-radius: 0px 6px 0px 0px;
    font-size: 15px;
    font-family: 'Contrail One';
    display: inline-block;
    border-bottom: 1px dotted #231F20;
    width: 100%;
}
.sheet-rolltemplate-tmpl div.sheet-nme{
    background-color: #231F20;
    color : #AAABAE;
    padding: 2px 10px 4px 10px;
    border-radius: 0px 0px 6px 0px;
    font-size: 15px;
    font-family: 'Contrail One';
    display: inline-block;
    border-top: 1px dotted #231F20;
    width: 100%;
}
.sheet-rolltemplate-tmpl div.sheet-lib{
    background-color: #AAABAE;
    color: #231F20;
    display: block;
    padding: 6px;
    font-family: 'Contrail One';
    font-size: 13px;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
.sheet-rolltemplate-tmpl div.sheet-desc{
    background-color: white;
    color: #006F5B;
    display: block;
    padding: 6px;
    display: block;
    font-family: 'Shadows Into Light';
    font-size: 17px;
    text-align: left;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
}
.sheet-rolltemplate-tmpl div.sheet-droll{
    background-color: white;
    display:block;
    padding: 6px;
    font-family: 'Contrail One';
    text-align: center;
    white-space: nowrap;
    width: 100%;
}
.sheet-rolltemplate-tmpl div.sheet-jetbordleft{
    border-left: 1px dotted #231F20;
}
.sheet-rolltemplate-tmpl div.sheet-borderd{
    border-right: 2px solid #231F20;
}
.sheet-rolltemplate-tmpl .inlinerollresult {
    background-color: transparent;
    border: none;
    padding: 0px 0px;
    font-weight: bold;
    cursor: help;
    font-size: 22px;
    font-family: 'Candal';
}
.sheet-rolltemplate-tmpl .sheet-success{
    color: #3FB315;
}
.sheet-rolltemplate-tmpl .sheet-failure{
    color: #B31515;
}
.sheet-rolltemplate-tmpl .inlinerollresult.fullcrit{
    border: none;
    color: #3FB315;
}
.sheet-rolltemplate-tmpl .inlinerollresult.importantroll{
    border: none;
    color: #4A57ED;
}
.sheet-rolltemplate-tmpl .inlinerollresult.fullfail{
    border: none;
    color: #B31515;
}

