div,
button,
textarea,
span,
input,
select{
    box-sizing: border-box;
}
div{
    margin: none;
    padding: none;
    background-color: transparent;
}
div.sheet-bgmain{
    width: 1280px;
    max-width: 1280px;
    height: 583px;
    max-height: 583px;
    text-align: center;
    font-family: 'Patrick Hand';
    font-size: 13px;
    background-color : white;
    background-image: url('https://raw.githubusercontent.com/NathaTerrien/roll20-wip/master/Mordiou/mordiou_bg_v2.jpg');
    background-repeat:no-repeat;
    background-position:top left;
    background-size: auto;
    position: relative;
}
div.sheet-abs{
    position: absolute;
    vertical-align: bottom;
    display: inline-block;
    /* border: 1px solid blue; */
}
div.sheet-rel{
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
input, textarea{
    background-color: transparent;
    display: inline-block;
    padding: none;
    margin: none;
    font-family: Arial;
    font-size: 14px;
    border: none;
    box-shadow: none;
    resize:none;
    color: #B1793F;
    z-index: 2;
    border-radius: 0;
    border-bottom: 1px dotted black; /* #B1793F; */
}
input:focus, input:hover, textarea:focus, textarea:hover{
    box-shadow: inset 0px 1px 1px rgba(177,121,63,0.01),0 0 6px rgba(177,121,63,0.5);
    background-color: rgba(177,121,63,0.05);
}
textarea{
    padding: 1px 2px 0px 2px;
    font-size: 13px;
    border-left: 1px dotted black;
    border-right: 1px dotted black;
    border-radius: 4px;
}
input[type="text"]{
    padding: 0px 0px 0px 2px;
    font-size: 13px;
}
input[type="text"].sheet-inptxt1 {
    font-weight: bold;
    font-size: 16px;
}
input[type="number"]{
    text-align: right;
    padding: 0px 2px 0px 0px;
}
input[type="number"].sheet-stats{
    width: 40px;
    font-size: 20px;
    text-align: center;
    -moz-appearance: textfield;
}
input[type="number"].sheet-stats::-webkit-inner-spin-button,
input[type="number"].sheet-stats::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}
